@{
    ViewBag.Title = "Home Page";
}
<p>@DateTime.Now</p>

<p>Расписание</p>
<br>

@using WebApplication1.Models;
@model List<WeekDay>
@foreach (var item in Model)
{
    <p>item.Day</p>
    <br>
    foreach(var sub in item.Subjects)
    {
        <p>sub</p>
    }
    <br><br>
}


